* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

/* 🔥 Progress Bar */
#progressBar {
  height: 4px;
  width: 0%;
  background: #ffd369;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  backdrop-filter: blur(10px);
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 80px 10%;
}

.hero span {
  color: #ffd369;
}

/* Cards */
.card {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 15px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
}

/* Skills */
.skills-grid span {
  background: #ffd369;
  color: black;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  display: inline-block;
}

/* Projects */
.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  flex: 1;
  min-width: 200px;
  background: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 12px;
}

/* Button */
button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #ffd369;
  cursor: pointer;
}

/* Animation */
.hidden {
  opacity: 0;
  transform: translateY(30px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s;
}

/* Mobile */
@media(max-width:768px){

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #333;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .projects-container {
    flex-direction: column;
  }
}